body {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
nav {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 10px;
    text-align: end;
}
nav a:hover {
    background-color: #7777771f;

}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
* {box-sizing:border-box}
p.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
h3{
    text-align: center;
}
.text-center {
    text-align: center;
}